$board-dimension-size: 595px;
$board-dimension-with-margin-size: calc(#{$board-dimension-size} + 15px);
$top-spacing: 50px;
$player-symbol-font-size: 60px;
$border-size: 5px;
$font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;

* {
  box-sizing: border-box;
}

@import "gameUI.scss";
@import "player.scss";
@import "gameGrid.scss";
@import "gameHistoryDisplay.scss";
@import "restartButton.scss";
@import "footer.scss";
@import "playerTypeSelector.scss";
